<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://gd-cowtransfer.static.cowtransfer.com/cowtransfer/cowtransfer/80346/5ffb2dbaa61442338022a7228fa04323.ipa?auth_key=1675503882-313b50bd9bbb4ce3b8e5197e4868759d-0-5e69f7b697f32315a6d2eb464d4a5e9f</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://img11.18183.com/ku18183/image/2020/04/09/d82ea75be4235867aa63a27c550afb3f.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://img11.18183.com/ku18183/image/2020/04/09/d82ea75be4235867aa63a27c550afb3f.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.sanguosha.mjzoo</string>
                <key>bundle-version</key>
                <string>4.2.7</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>三国名将传+</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
